.top-toolbar {
  background: #131313;
}
.toolbar-left {
  ul {
    li {
      display: inline-block;
      margin-right: 10px;
      a {
        color: #fff;
        font-family: 'poppins-regular';
        font-size: 12px;
        line-height: 60px;
        span {
          display: inline-block;
          padding-right: 2px;
          i {
            font-size: 16px;
          }
        }
      }
    }
  }
  >ul.two {
    display: none;
  }
  >ul.three {
    display: none;
  }
}
.top-office-select-area {
  text-align: right;
}
.select-container {
  display: inline-block;
  position: relative;
  span {
    left: 10px;
    position: absolute;
    top: 18px;
  }
  i {
    font-size: 20px;
  }
  select {
    background: #ffc434;
    font-weight: 500;
    font-size: 16px;
    height: 60px;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    border: 0px;
    z-index: 9;
  }
}
.sSelect {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  fill: currentColor;
}
.sSelect.up {
  position: absolute;
  right: 5px;
  top: 20px;
  &::before {
    content: "\eb8c";
    font-family: 'IcoFont' !important;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 18px;
    color: #333;
    right: 7px;
    top: 0px;
    z-index: -1;
  }
}
.sSelect.down {
  position: absolute;
  right: 5px;
  top: 20px;
  &::before {
    content: "\eb89";
    font-family: 'IcoFont' !important;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 18px;
    color: #333;
    right: 7px;
    top: 0px;
    z-index: -1;
  }
}
.top-toolbar-type2 {
  background: #131313;
}
.toolbar-type2-single-container {
  padding-bottom: 23px;
  padding-top: 19px;
  ul {
    li {
      .toolbar-container-text {
        h6 {
          color: #fff;
          font-size: 14px;
          font-weight: 600;
          color: #ddd;
          font-size: 18px;
          font-weight: 300;
        }
        display: table;
        p {
          color: #666;
          font-family: "poppins-regular";
          font-size: 14px;
          line-height: 28px;
        }
      }
      .toolbar-container-icon {
        float: left;
        margin-right: 20px;
        i {
          color: #ffc434;
          font-size: 24px;
          line-height: 54px;
        }
      }
    }
  }
}

.brand-logo {
  margin-top: 13px;
  a {
    img {
      width: initial;
    }
  }
}
.myMenu {
  float: right;
  >li {
    display: inline-block;
    margin-right: 26px;
    position: relative;
    >a {
      color: #555;
      display: block;
      font-family: "poppins-regular";
      font-size: 14px;
      line-height: 99px;
      text-transform: uppercase;
    }
    >ul {
      position: absolute;
      left: -15px;
      width: 180px;
      background: #fff;
      z-index: 99;
      padding-left: 15px;
      >li {
        >a {
          line-height: 40px;
          color: #555;
        }
      }
    }
  }
  li {
    a {
      &:hover {
        color: #FFC434;
      }
    }
  }
}
.sub-toggle {
  position: absolute;
  right: -16px;
  top: 41%;
  z-index: 999;
  height: 100%;
  text-align: center;
  cursor: pointer;
  i {
    font-size: 14px;
  }
}
.search_icon {
  background: #333 none repeat scroll 0 0;
  border-radius: 50%;
  clear: both;
  display: inline-block;
  height: 35px;
  margin-top: 1px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  width: 35px;
  a {
    display: block;
    line-height: 2;
  }
  i {
    color: #ffc434;
    font-size: 15px;
    line-height: 35px;
  }
}
.search_form {
  input {
    width: calc(100% - 50px);
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #777;
    border: 1px solid #000;
    vertical-align: top;
  }
  padding-left: 100px;
  padding-right: 100px;
  vertical-align: middle;
  button {
    width: 50px;
    height: 40px;
    background: #000;
    border: none;
    margin-left: -5px;
    vertical-align: top;
    i {
      font-size: 15px;
      color: #FFC434;
    }
  }
}

